/*===Hero===*/

.hero {
	position: relative;
	height: 100vh;
	min-height: 720px;
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero::after {
	content: "";
	width: 50px;
	height: 50px;
	background-color: white;
	position: absolute;
	z-index: 10;
	transform: rotate(45deg) skew(12.5deg, 12.5deg);
	bottom: -25px;
}

.hero-content {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.hero-content h1 {
	font-size: 4rem;
}

.hero-content p {
	letter-spacing: 0.2rem;
}

.hero-logo {
	background-color: white;
	border-radius: 50%;
	height: 18rem;
	width: 18rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*===Deno Rain===*/

#deno-rain {
	/* background-color: yellow; */
	position: absolute;
}
